/* common style or utilities  */

body {
    margin: 0px;
    width: 100%;
    height: 3750px;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

header {
    width: 1440px;
    height: 677px;
    background-color: #2D25A0;
    margin: 0 auto;
}

main {
    position: relative;
    width: 1440px;
    height: 3021px;
    background: #FFFFFF;
}

/* header style start  */

/* navigation var style  */

.navigation {
    padding-top: 42px;
}

nav {
    width: 1164px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 124px 59px 156px;
    padding: 0px;
}

nav .home-nav {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
}

nav li {
    list-style: none;
    margin-right: 25px;
    font-weight: 500;
    font-size: 16px;
}

nav .home-nav li {
    padding-right: 11px;
}

nav li a {
    text-decoration: none;
    color: white;
}

.login {
    /* position: static; */
    background-color: #E02C6D;
    width: 123px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 34px;
    padding-right: 0px;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.login li {
    font-weight: 500;
    font-size: 16px;
}

.fa-sign-in-alt {
    margin-right: 8px;
    font-size: 16px;
}

/* header title style  */

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 102px;
    padding-left: 156px;
    margin-right: 120px;
}

.head-title-section {
    display: flex;
    flex-direction: column;
}

.title-name {
    width: 485px;
    height: 230px;
    left: 156px;
    top: 207px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 8px;
}

.icon-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #E02C6D; */
    width: 168px;
    height: 44px;
    padding: 10px 0px;
}

.icon-watch button {
    display: flex;
    align-items: center;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    border: 0;
}

.icon-watch button span {
    margin-right: 8px;
}

.fa-arrow-right {
    color: #FFFFFF;
    width: 16px;
    height: 14px;
}

.banner-img-section {
    position: relative;
    width: 556px;
    height: 438px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background-color: #3DBAFD;
    overflow: hidden;
    border-radius: 0px 100px 0px 0px;
}

.banner-img-section img {
    position: absolute;
    width: 556.01px;
    height: 438px;
    animation: sliding 7s ease-in 0.5s infinite alternate;
    animation-play-state: running;
}

header:hover .head-title-section .title-name {
    transform: scale(.9) skewY(5deg);
    transition: transform 2s ease 0.2s;
}

@keyframes sliding {
    0% {
        transition: transform 2s;
    }
    50% {
        width: 500px;
        height: 338px;
    }
    100% {
        transform: rotate(-20deg) scale(1.2);
        transform-origin: right top;
    }
}

/* main section style  */

.players-album {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 52px;
}

.photo-album {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 45px;
    /* align-items: center; */
}

.player {
    width: 300px;
    height: 426px;
    /* margin: 200px; */
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    /* left: 15px; */
    /* top: 15px; */
}

.player-img img {
    width: 300px;
    height: 256px;
    border-radius: 4px;
    /* margin: 15px; */
    /* background: url(image.png); */
}

.player-detail {
    /* margin: 1px 15px 33px 15px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 300px;
    height: 154px;
    margin: 0px;
    /* left: 0px; */
    /* top: 272px; */
}

.player-name {
    width: 300px;
    color: #18191F;
    left: calc(50% - 300px/2);
    /* top: 0%; */
    /* bottom: 74.03%; */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    margin: 0px;
    font-feature-settings: 'liga' off;
}

.player-info {
    width: 300px;
    color: #6C6C6C;
    left: calc(50% - 300px/2);
    /* top: 32.47%; */
    /* bottom: 0%; */
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    font-feature-settings: 'liga' off;
}

/* -------------
footer part style 
-------------- */

footer {
    padding: 5px;
    margin: 20px auto;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.logo-footer img {
    width: 700px;
    height: 150px;
    padding-left: 110px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 75px;
}

.font-icon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 30px;
}

.fab {
    color: gray;
    font-size: 20px;
    border-radius: 45%;
    padding: 9px;
    background-color: rgba(128, 128, 128, 0.404);
}

.copy-right {
    text-align: center;
    font-size: 24px;
}

/*------------------------------------ 
use media queries for mobile phone 
-------------------------------------- */

@media only screen and (max-width:688px) {
    .navigation {
        display: none;
    }
    /* ---------------------------
    header-section-media-queries-
    ---------------------------- */
    header {
        width: 100%;
        padding-left: 19px;
    }
    .container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        padding: 0;
    }
    header:hover .head-title-section .title-name {
        transform: scale(1);
    }
    .title-name {
        width: 278px;
        height: 138px;
        font-size: 36px;
        line-height: 60px;
        margin: 0;
        padding-bottom: 65px;
    }
    .banner-img-section {
        width: 329px;
        height: 259px;
        overflow: visible;
    }
    .banner-img-section img {
        animation: paused;
        width: 329px;
        height: 259px;
        ;
    }
    /*------------------------
     main-section queries 
     ------------------------*/
    main {
        width: 100%;
    }
    .photo-album {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        padding: 0;
        grid-row-gap: 0px;
        grid-column-gap: 0px;
    }
    .player {
        margin-left: 30px;
        width: 315px;
        height: 474px;
        padding: 25px;
        margin-bottom: 24px;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
    }
    /* --------------------
    footer media queries 
    -----------------------*/
    footer {
        width: 390px;
    }
    .logo-footer {
        width: 380px;
        height: px;
    }
    .logo-footer img {
        padding-left: 0px;
    }
}